<%- include('adminDashboardHeader.ejs') %>

<div class="container rounded mb-5 mt -5">
  <div class="row justify-content-md-center mt-2">
    <div class="col-md-5 border-right bg-white">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">
            <i class="fas fa-user"></i> Profile Settings
          </h4>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Email </label
            ><input
              name="email"
              type="text"
              class="form-control"
              placeholder="enter email "
              value="<%= admin.email %>"
              required
              readonly
              maxlength="50"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 bg-white">
      <div class="p-3 py-5">
        <div class="row mt-4">
          <div class="col-md-3 bg-white">
            <div
              class="
                d-flex
                justify-content-between
                align-items-center
                experience
                btn
              "
              data-bs-toggle="modal"
              data-bs-target="#addMobile"
            >
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div
              class="modal fade"
              id="addMobile"
              data-bs-backdrop="static"
              tabindex="-1"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="">Add Mobile</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form method="POST" action="/addMobile">
                    <div class="modal-body">
                      <div class="input-group mb-3">
                        <input
                          type="number"
                          maxlength="20"
                          class="form-control"
                          placeholder="Add mobile"
                          aria-label="Recipient's username"
                          aria-describedby="button-addon2"
                          name="mobile"
                          required
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        class="btn view-btn"
                        style="color: white"
                        type="submit"
                        id="button-addon2"
                      >
                        Add
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../dashboardFooter.ejs') %>