<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/loginStyle.css" />
    <title>Register</title>
  </head>

  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Pills navs -->
        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="tab-student"
              data-mdb-toggle="pill"
              data-toggle="tab"
              href="#pills-student"
              role="tab"
              aria-controls="pills-student"
              aria-selected="true"
              >Student</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="tab-supervisor"
              data-mdb-toggle="pill"
              data-toggle="tab"
              href="#pills-supervisor"
              role="tab"
              aria-controls="pills-supervisor"
              aria-selected="false"
              >Supervisor</a
            >
          </li>
          <li class="nav-item" role="presentation">
            <a
              class="nav-link"
              id="tab-examiner"
              data-mdb-toggle="pill"
              data-toggle="tab"
              href="#pills-examiner"
              role="tab"
              aria-controls="pills-examiner"
              aria-selected="true"
              >Examiner</a
            >
          </li>
        </ul>
        <!-- Pills navs -->

        <!-- Student -->
        <div class="tab-content">
          <div
            class="tab-pane fade show active"
            id="pills-student"
            role="tabpanel"
            aria-labelledby="tab-student"
          >
            <form method="POST" action="/register/student">
              <!-- First name -->
              <div class="md-form fadeIn first">
                <input
                  type="text"
                  id="student-first-name"
                  name="firstName"
                  class="form-control"
                  placeholder="First name"
                />
              </div>
              <!-- Last name -->
              <div class="md-form fadeIn first">
                <input
                  type="text"
                  id="student-last-name"
                  name="lastName"
                  class="form-control"
                  placeholder="Last name"
                />
              </div>
              <!-- Email -->
              <div class="md-form fadeIn second">
                <input
                  type="email"
                  id="student-email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
              <!-- Faculty -->
              <div class="md-form fadeIn second">
                <input
                  type="text"
                  id="student-faculty"
                  name="faculty"
                  class="form-control"
                  placeholder="Faculty"
                />
              </div>
              <!-- Address -->
              <div class="md-form fadeIn third">
                <input
                  type="text"
                  id="student-address"
                  name="address"
                  class="form-control"
                  placeholder="Address"
                />
              </div>
              <!-- Password -->
              <div class="md-form fadeIn third">
                <input
                  type="password"
                  id="student-password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <!-- Type -->
              <div
                class="btn-group fadeIn fourth"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="type"
                  id="gucian"
                  autocomplete="off"
                  value="1"
                  checked
                />
                <label class="btn btn-outline-secondary" for="gucian"
                  >GUCian</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="type"
                  id="non-gucian"
                  autocomplete="off"
                  value="0"
                />
                <label class="btn btn-outline-secondary" for="non-gucian"
                  >Non GUCian</label
                >
              </div>
              <!-- Register -->
              <div class="fadeIn fourth" style="padding-top: 5px">
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Register
                </button>
              </div>
            </form>
          </div>
          <div
            class="tab-pane fade"
            id="pills-supervisor"
            role="tabpanel"
            aria-labelledby="tab-subervisor"
          >
            <form method="POST" action="/register/supervisor">
              <!-- First name -->
              <div class="md-form fadeIn first">
                <input
                  type="text"
                  id="supervisor-first-name"
                  name="firstName"
                  class="form-control"
                  placeholder="First name"
                />
              </div>
              <!-- Last name -->
              <div class="md-form fadeIn first">
                <input
                  type="text"
                  id="supervisor-last-name"
                  name="lastName"
                  class="form-control"
                  placeholder="Last name"
                />
              </div>
              <!-- Email -->
              <div class="md-form fadeIn second">
                <input
                  type="email"
                  id="supervisor-email"
                  class="form-control"
                  name="email"
                  placeholder="Email"
                />
              </div>
              <!-- Faculty -->
              <div class="md-form fadeIn second">
                <input
                  type="text"
                  id="supervisor-faculty"
                  name="faculty"
                  class="form-control"
                  placeholder="Faculty"
                />
              </div>
              <!-- Password -->
              <div class="md-form fadeIn third">
                <input
                  type="password"
                  id="supervisor-password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <!-- Register -->
              <div class="fadeIn third" style="padding-top: 5px">
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Register
                </button>
              </div>
            </form>
          </div>
          <div
            class="tab-pane fade"
            id="pills-examiner"
            role="tabpanel"
            aria-labelledby="tab-examiner"
          >
            <form method="POST" action="register/examiner">
              <!-- First name -->
              <div class="md-form fadeIn first">
                <input
                  type="text"
                  id="examiner-first-name"
                  name="firstName"
                  class="form-control"
                  placeholder="First name"
                />
              </div>
              <!-- Last name -->
              <div class="md-form fadeIn first">
                <input
                  type="text"
                  id="examiner-last-name"
                  name="lastName"
                  class="form-control"
                  placeholder="Last name"
                />
              </div>
              <!-- Email -->
              <div class="md-form fadeIn second">
                <input
                  type="email"
                  id="examiner-email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
              <!-- Field of work -->
              <div class="md-form fadeIn second">
                <input
                  type="text"
                  id="examiner-fieldOfWork"
                  name="fieldOfWork"
                  class="form-control"
                  placeholder="Field of work"
                />
              </div>
              <!-- Password -->
              <div class="md-form fadeIn third">
                <input
                  type="password"
                  id="examiner-password"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <!-- Type -->
              <div
                class="btn-group fadeIn third"
                role="group"
                aria-label="Basic radio toggle button group"
              >
                <input
                  type="radio"
                  class="btn-check"
                  name="type"
                  id="national"
                  value="1"
                  autocomplete="off"
                  checked
                />
                <label class="btn btn-outline-secondary" for="national"
                  >National</label
                >

                <input
                  type="radio"
                  class="btn-check"
                  name="type"
                  id="international"
                  value="0"
                  autocomplete="off"
                />
                <label class="btn btn-outline-secondary" for="international"
                  >International</label
                >
              </div>
              <!-- Register -->
              <div class="fadeIn fourth" style="padding-top: 5px">
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Pills content -->
    </div>
  </body>
  <%if(typeof ok !=='undefined' && ok == 'no'){%>
  <script>
    studentEmail = document.getElementById('student-email');
    studentEmail.style.borderColor = 'red';
    studentEmail.setCustomValidity('this email is already registered');
  </script>
  <%}%>

  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</html>
