<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Dashboard</title>
    <!-- bootstrap 5 css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- BOX ICONS CSS-->
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="stylesheets/student.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
    />
  </head>

  <body>
    <!-- Side-Nav -->
    <div
      class="
        side-navbar
        active-nav
        d-flex
        justify-content-between
        flex-wrap flex-column
      "
      id="sidebar"
    >
      <ul class="nav flex-column text-white w-100">
        <a href="#" class="nav-link h3 text-white my-2"> Student Dashboard </a>
        <li href="#" class="nav-link">
          <i class="fas fa-graduation-cap sidebar-icon"></i>
          <span class="mx-2">Thesis</span>
        </li>
        <li href="#" class="nav-link">
          <i class="fas fa-book sidebar-icon"></i>
          <span class="mx-2">Courses</span>
        </li>
        <li href="#" class="nav-link">
          <i class="fas fa-scroll sidebar-icon"></i>
          <span class="mx-2">Publication</span>
        </li>
      </ul>
      <span class="h4 w-100 mb-5">
        <a href=""><i class="fas fa-user sidebar-icon social"></i></a>
        <a href=""><i class="fas fa-sign-out-alt sidebar-icon social"></i></a>
      </span>
    </div>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">
      <!-- Top Nav -->
      <nav class="navbar op-navbar navbar-light bg-light px-5">
        <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
      </nav>
      <!--End Top Nav -->
      Hello World
    </div>

    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script>
      var menu_btn = document.querySelector('#menu-btn');
      var sidebar = document.querySelector('#sidebar');
      var container = document.querySelector('.my-container');
      menu_btn.addEventListener('click', () => {
        sidebar.classList.toggle('active-nav');
        container.classList.toggle('active-cont');
      });
    </script>
  </body>
</html>
