:root {
  --side-bar: #52616b;
  --body: #f0f5f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--body);
}

.side-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  margin-left: -300px;
  background-color: var(--side-bar);
  transition: 0.5s;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.my-container {
  transition: 0.4s;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 250px;
}

#menu-btn {
  background-color: var(--side-bar);
  color: #fff;
  margin-left: -62px;
}

.my-container input {
  border-radius: 2rem;
  padding: 2px 20px;
}

.sidebar-icon {
  color: var(--body);
}

.social {
    margin-left: 10px;
    margin-right: 12px;
    padding: 5px;
}

#sidebar-btn{
    color: var(--side-bar);
    padding: 10px;
    margin: 10px;
}
