<%- include('examinerDashboardHeader.ejs')%>
<div class="container rounded mb-5">
  <div class="row justify-content-md-center">
    <div class="col-md-5 border-right bg-white">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Name</label
            ><input
              type="text"
              class="form-control"
              placeholder="first name"
              value=""
              readonly
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Last Name</label
            ><input
              type="text"
              class="form-control"
              value=""
              placeholder="surname"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Email ID</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter email id"
              value=""
            />
          </div>
          <div class="col-md-12 mt-2">
            <label class="labels">Field Of Work</label
            ><input
              type="text"
              class="form-control"
              placeholder="education"
              value=""
            />
          </div>
        </div>

        <div class="mt-5 text-center">
          <button class="btn view-btn" type="button" style="color: white">
            Save Profile
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-2 bg-white">
      <div class="p-3 py-5">
        <div
          class="d-flex justify-content-between align-items-center experience"
        >
          <span class="border px-3 p-1 add-experience btn"
            ><i class="fa fa-plus"></i>&nbsp;Experience</span
          >
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
<%- include('../dashboardFooter.ejs') %>
