<%- include('../dashboardHeader.ejs', {type: 'Examiner' }) %>

    
        <li class="nav-link">
            <a href='/examiner/theses' class='anchor-nav'>
                <i class="fas fa-graduation-cap sidebar-icon"></i>
                <span class="mx-2">Theses</span>
            </a>
        <li>
        <li class="nav-link">
            <a href='/examiner/defenses' class='anchor-nav'>
                <i class="fas fa-scroll sidebar-icon"></i>
                <span class="mx-2">Defenses</span>
            </a>
        </li>
        <li class="nav-link">
            <a href='/examiner/search' class='anchor-nav'>
                <i class="fas fa-search sidebar-icon"></i>
                <span class="mx-2">Search </span>
            </a>
        </li>

    </ul>
    <span class="h4 w-100 mb-5">
        <a href="examiner/profile"><i class="fas fa-user sidebar-icon social"></i></a>
        <a href="/logout"><i class="fas fa-sign-out-alt sidebar-icon social"></i></a>
    </span>
    </div>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">
        <!-- Top Nav -->
        <nav class="navbar op-navbar navbar-light bg-light px-5">
            <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
        </nav>

        <!--End Top Nav -->