<%- include('../dashboardHeader.ejs', {type: 'Student' }) %>

    <li class="nav-link">
        <a href='/student/theses' class='anchor-nav'>
            <i class="fas fa-graduation-cap sidebar-icon"></i>
            <span class="mx-2">Theses</span>
        </a>
    </li>
    <% if (type === '4') {%>
    <li class="nav-link">
        <a href='/student/courses' class='anchor-nav'>
            <i class="fas fa-book sidebar-icon"></i>
            <span class="mx-2">Courses</span>
        </a>
    </li>
    <% } %>
    <li class="nav-link">
        <a href='/student/publications' class='anchor-nav'>
            <i class="fas fa-scroll sidebar-icon"></i>
            <span class="mx-2">Publications</span>
        </a>
    </li>
    <li class="nav-link">
        <a href='/student/progressReports' class='anchor-nav'>
            <i class="fas fa-tasks"></i>
            <span class="mx-2">Progress Reports</span>
        </a>
    </li>
    </ul>
    <span class="h4 w-100 mb-5">
        <a href="/student/profile"><i class="fas fa-user sidebar-icon social"></i></a>
        <a href=""><i class="fas fa-sign-out-alt sidebar-icon social"></i></a>
    </span>
    </div>

    <!-- Main Wrapper -->
    <div class="p-1 my-container active-cont">
        <!-- Top Nav -->
        <nav class="navbar op-navbar navbar-light bg-light px-5">
            <a class="btn border-0" id="menu-btn"><i class="bx bx-menu"></i></a>
        </nav>
        <!--End Top Nav -->

      <!-- Publication Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Publication</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/student/theses">
          <div class="mb-3">
            <label for="publication-title" class="col-form-label">Title :</label>
            <input type="text" class="form-control" id="publication-title" name="title">
          </div>
          <div class="mb-3">
            <label for="publication-date" class="col-form-label">Publication Date :</label>
            <input type="date" class="form-control" id="publication-date" name="date">
          </div>
          <div class="mb-3">
            <label for="publication-host" class="col-form-label">Host :</label>
            <input type="text" class="form-control" id="publication-host" name="host">
          </div>
          <div class="mb-3">
            <label for="publication-place" class="col-form-label">Place :</label>
            <input type="text" class="form-control" id="publication-place" name="place">
          </div>
          <div class="mb-3">
            <label for="publication-status" class="col-form-label">Status :</label>
            <input type="text" class="form-control" id="publication-status" name="status">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>